<!--- 
	CFPDF Action: addstamp
	1. Works similar to adding rubber stamp to paper
	2. Supported stamps:
		Approved, Experimental, NotApproved, AsIs
		Expired, NotForPublicRelease, Confidential
		Final, Sold, Departmental, ForComment, 
		TopSecret, Draft, ForPublicRelease
	3. Added in cfpdfparam as coordinates
--->

<cfpdf action="addstamp" 
	source="#ExpandPath('P_and_L_Stamped_Second.pdf')#"
	destination="#ExpandPath('P_and_L_Stamped_Third.pdf')#" 
	overwrite="true">
	
	<cfpdfparam pages="2" coordinates="330, 78, 383,98" 
		iconname="ForPublicRelease" note="Data is now finalised. Ready for publicRelease" />

</cfpdf>
